{% include base_path %}

{% assign title = post.title %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
    
    {% if post.collection == 'publications' and post.citation %}
      <p>Recommended citation: {{ post.citation }}
        {% if post.paperurl or post.bibtexurl %}
          <br />
          {% if post.paperurl %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
          {% if post.paperurl and post.bibtexurl %} | {% endif %}
          {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>
